
img {
  width:300px;
  height:300px;
  float: right;
  display: inline-block;
  padding: 10px;
}


#bio {
  padding-top : 30px;
  float : left;
  width: 250px;
  text-align: justify;
  margin-left : 50px;

}
#education {
  padding-top : 30px;
  float :inherit;
  width: 250px;
  text-align: justify;
  margin-left : 50px;

}
img.medium {
  width:700px;
  height:500px;
  float:left;


}
img.large {
  width:300px;
  height:300px;
  float: right;
}
img.align-right {
  float:right;
  margin-right: 10px;
}
div {
  border: 3px solid #665544;
  overflow: auto;
  width:100%;
}
body {
  background-color: #ccffff;
  text-align: center;

}
h1 {
  background-color: none;
  color: #331122;
  font-size: 150px;

}
h2 {
  font-size: 20px;
  color: #331122;
  text-decoration: underline;
}
h3 {
  font-size: 20px;
  color:#331122;
  text-decoration: underline;
}
h4 {
  font-size: 20px;
  color: #331122;
  text-decoration: underline;
}
h5 {
  font-size: 20px;
  text-decoration: underline;

}
h6 {
  font-size: 20px;
  color: #331122;
  text-decoration: underline;
}
div ul {
    padding: ;
    float: center;
    border-bottom: ;
    list-style-type: none;
}
  ol li{
    float:left;
    margin-left: 45px;
  }
  * {
    margin: 0;
  }
  #bg {
    background-image: url ('https://ton.twitter.com/1.1/ton/data/dm/757075540591292420/757075540620611584/4pdFQCgi.jpg:large');
    width:100%;
    height:100vh;
  }
  footer {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
